mixin title (header, descr, bottomLine)
  if bottomLine === "no"
    .title
      h2.title__header= header
      .title__text= descr
  else
    .title.title--with-bottom-line
      h2.title__header= header
      .title__text= descr